.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include xl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    align-items: center;
  }
}

.cart-list-item {
  padding: 2rem 0;
  border-bottom: 2px solid $grey;
  &:last-child {
    border-bottom: none;
  }
  @include smd {
    display: flex;
    gap: 5rem;
    border: none;
    justify-content: space-around;
  }
  & > div:first-child {
    display: flex;
    align-items: center;
    gap: 2rem;
    .img {
      background-color: $lightgrey;
      aspect-ratio: 4/4;
      border-radius: 1rem;
      overflow: hidden;
      width: 10rem;
      img {
        width: 100%;
      }
    }
    .title {
      a {
        font-size: 1.6rem;
        font-weight: 600;
        color: $text;
        @include lg {
          font-size: 2rem;
        }
      }
      span {
        display: inline-block;
        margin-top: 1rem;
        padding: .5rem 1rem;
        color: $text;
        border: 2px solid $text;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
  & > div:last-child {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include sm {
      justify-content: flex-end;
    }
    .price {
        font-size: 1.8rem;
        font-weight: 600;
        color: $grey;
        @include lg {
            font-size: 2rem;
        }
    }
    select {
        padding: .5rem 1rem;
        border: 1px solid $text;
        text-align: right;
        font-size: 1.6rem;
        font-weight: 600;
        color: $text;
        border-radius: 1rem;
        background-color: $white;
        width: 9rem;
        @include lg {
            font-size: 1.8rem;
        }
      option {
        direction: rtl;
      }
    }
    button {
      padding: .8rem;
      background-color: $grey;
      aspect-ratio: 4/4;
      border: none;
      outline: none;
      border-radius: 1rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: $text;
      }
    }
  }
}

.total-price {
  padding: 2rem;
  border: 2px solid $text;
  border-radius: 1rem;
  margin: 5rem auto 3rem;
  max-width: 60rem;
  width: 100%;
  @include xl {
    margin: 0;
  }
  .total {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  .prices-container {
    text-align: right;
    margin-bottom: 3rem;
    p{
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0 0 .5rem 0;
      span {
        font-weight: 400;
      }
    }
  }
  .btn-container {
    text-align: center;
    a {
      width: 100%;
      display: inline-block;
      max-width: 40rem;
    }
  }
}

// Stepper page panier

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  column-gap: 8rem;
  margin: 0 auto 10rem;
  @include md {
    column-gap: 12rem;
  }
  & > div {
    position: relative;
    &:nth-child(2) {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -202%;
        transform: translateY(-50%);
        width: 8.2rem;
        height: 1rem;
        background-color: $grey;
        z-index: -1;
        @include md {
          left: -302%;
          width: 12.2rem;
        }
      }
      &.active {
        &::before {
          background-color: $primary;
        }
      }
    }
    &:last-child {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -202%;
        transform: translateY(-50%);
        width: 8.2rem;
        height: 1rem;
        background-color: $grey;
        z-index: -1;
        @include md {
          left: -302%;
          width: 12.2rem;
        }
      }
      &.active {
        &::before {
          background-color: $primary;
        }
      }
    }
    span {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $grey;
      color: $white;
      &.active {
        background-color: $primary;
        color: $white;
      }
    }
    p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 500;
      &.active {
        color: $primary;
      }
    }
  }
}

.order-confirm {
  h1, p {
    text-align: center;
  }
  .btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    a {
      display: inline-block;
    }
  }
}