//Boutons
.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  @include lg {
    font-size: 2rem;
  }
  &-primary {
    color: $white;
    background-color: $primary;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($primary, 15%);
    }
    &:active {
      background-color: darken($primary, 30%);
    }
  }
  &-secondary {
    color: $white;
    background-color: $text;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($text, 15%);
    }
    &:active {
      background-color: darken($text, 30%);
    }
  }
  &-tertiary {
    color: $primary;
    background-color: $white;
    border-color: $primary;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $primary;
      color: $white;
    }
    &:active {
      background-color: $danger;
      border-color: $danger;
      color: $white;
    }
  }
  &-success{
    color: $white;
    background-color: $success;
    border-color: $success;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($success, 15%);
      border-color: darken($success, 15%);
    }
    &:active {
      background-color: darken($success, 30%);
        border-color: darken($success, 30%);
    }
  }
}

//Cards horizontales
.card-hz {
  background-color: $white;
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 5rem;
  @include sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: left;
  }
  @include lg {
    margin-bottom: 0;
  }
  .img {
    width: 70%;
    margin: 0 auto 1rem;
    background-color: $lightgrey;
    text-align: center;
    border-radius: 1rem;
    aspect-ratio: 4/4;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm {
      width: 30%;
      margin: 0;
    }
    img {
        width: 90%;
        max-width: 15rem;
    }
  }
  p {
    text-align: center;
    margin: 0 0 1rem;
    font-weight: 500;
  }
  .price {
    margin-bottom: 4rem;
    font-weight: 600;
    background-color: $lightgrey;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 1rem;
  }

  .btn-container {
    @include sm {
      text-align: right;
    }
    .btn {
      display: inline-block;
      width: 100%;
      max-width: 40rem;
      text-align: center;
      @include sm {
        width: auto;
      }
    }
  }
}

//Cards verticales
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  @include lg {
    margin-bottom: 0;
  }
  & div:first-child {
    background-color: $lightgrey;
    text-align: center;
    aspect-ratio: 4/4;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      max-width: 35rem;
    }
  }
  & > div:last-child {
    padding: 2rem 1.5rem;
    text-align: center;
    p {
      margin: 0 0 2rem;
      font-family: "casablanca-urw", sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      @include lg {
        font-size: 3rem;
      }
    }
    .btn-container {
      a {
        display: inline-block;
        width: 100%;
        max-width: 40rem;
        text-align: center;
      }
    }
  }
}

//Accordéon pour les filtres
.accordion {
  > p {
    display: flex;
    padding: 1rem;
    font-weight: 600;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    width: 90%;
    margin: 0 auto 2rem;
    cursor: pointer;
    background-color: $lightgrey;
    transition: all .3s ease-in-out;
    svg {
      transition: all .3s ease-in-out;
    }
    &:hover, &.active {
      background-color: $text;
      color: $white;
      svg {
        stroke: $white;
      }
    }
    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &-content {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    &.active {
      max-height: 100rem;
      padding: 1rem;
    }
    p {
      margin: 0;
    }
    .input-group {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      input[type="checkbox"] {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
  .btn-container {
    text-align: center;
    button {
      cursor: pointer;
    }
  }
}

//Div alerte pour les erreurs
.alert {
  text-align: center;
  p {
    background-color: #f8b0b0;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding: 1rem 5rem;
    display: inline-block;
    border-radius: 1rem;
  }
}

//Personnalisation des toasts
.Toastify__toast-body {
  div {
    font-size: 1.6rem;
    color: $text;
  }
}

//Module paypal
.paypal-container {
  & > div {
    margin: 0 auto;
    max-width: 40rem;
  }
}
//Boutons ronds pour les actions dans les listes admin
.circle-btn {
  width: 4.5rem;
  height: 4.5rem;
  display: flex!important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  &-primary {
    background-color: #3a86ff;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken(#3a86ff, 10%);
    }
    svg {
        stroke: $white;
    }
  }
    &-secondary {
        background-color: #1dd3b0;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: darken(#1dd3b0, 10%);
        }
      svg {
        stroke: $white;
      }
    }
  &-danger {
    background-color: #e71d36;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken(#e71d36, 10%);
    }
    svg {
      stroke: $white;
    }
  }
}

//Modal
.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all .3s ease-in-out;
  .modal-content {
    background-color: $white;
    display: inline-block;
    padding: 2.5rem;
    width: 80%;
    max-width: 60rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: hidden;
    text-align: left;
    transition: all .3s ease-in-out;
    .img {
      aspect-ratio: 4/4;
      margin: 2rem 0;
      width: 100%;
      max-width: 15rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $lightgrey;
       img {
         width: 90%;
       }
    }
    .banner {
      width: 100%;
      overflow: hidden;
      border-radius: 1rem;
      aspect-ratio: 16/6;
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
    & > span {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      svg {
        transition: all .3s ease-in-out;
      }
      &:hover {
        svg {
          stroke: $danger;
        }
      }
    }
    a {
      color: $text;
      font-weight: 500;
    }
    p {
      margin: 0;
    }
    .title {
      font-weight: 600;
      font-size: 2.5rem;
      @include lg {
        font-size: 2.8rem;
      }
    }
    .badge {
      margin-bottom: 2rem;
    }
    .mail {
      margin: 2rem 0;
      display: block;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    .modal-content {
        top: 30%;
    }
  }
}

//Container pour les tailles
.sizes-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 2rem;
  .size {
    font-size: 1.8rem;
    @include lg {
      font-size: 2rem;
    }
    text-transform: uppercase;
    font-weight: 500;
    padding: .5rem 1rem;
    border: 2px solid $text;
    display: inline-block;
    min-width: 6rem;
    text-align: center;
  }
}

//Badge pour les infos des users
.badge {
  padding: .5rem 1rem;
  background-color: $success;
  display: inline-block;
  border-radius: 1rem;
  color: $white;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  @include lg {
    font-size: 1.6rem;
  }
}
