//Boutons
.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  @include lg {
    font-size: 2rem;
  }
  &-primary {
    color: $white;
    background-color: $primary;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($primary, 15%);
    }
    &:active {
      background-color: darken($primary, 30%);
    }
  }
  &-secondary {
    color: $white;
    background-color: $text;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($text, 15%);
    }
    &:active {
      background-color: darken($text, 30%);
    }
  }
  &-tertiary {
    color: $primary;
    background-color: $white;
    border-color: $primary;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $primary;
      color: $white;
    }
    &:active {
      background-color: $danger;
      border-color: $danger;
      color: $white;
    }
  }
  &-success{
    color: $white;
    background-color: $success;
    border-color: $success;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken($success, 15%);
      border-color: darken($success, 15%);
    }
    &:active {
      background-color: darken($success, 30%);
        border-color: darken($success, 30%);
    }
  }
}

//Cards horizontales

.card-hz {
  background-color: $white;
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 5rem;
  @include sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: left;
  }
  @include lg {
    margin-bottom: 0;
  }
  .img {
    width: 70%;
    margin: 0 auto 1rem;
    background-color: $lightgrey;
    text-align: center;
    border-radius: 1rem;
    aspect-ratio: 4/4;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm {
      width: 30%;
      margin: 0;
    }
    img {
        width: 90%;
        max-width: 15rem;
    }
  }
  p {
    text-align: center;
    margin: 0 0 1rem;
    font-weight: 500;
  }
  .price {
    margin-bottom: 4rem;
    font-weight: 600;
    background-color: $lightgrey;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 1rem;
  }

  .btn-container {
    @include sm {
      text-align: right;
    }
    .btn {
      display: inline-block;
      width: 100%;
      max-width: 40rem;
      text-align: center;
      @include sm {
        width: auto;
      }
    }
  }
}

//Cards verticales

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  @include lg {
    margin-bottom: 0;
  }
  & div:first-child {
    background-color: $lightgrey;
    text-align: center;
    aspect-ratio: 4/4;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      max-width: 35rem;
    }
  }
  & > div:last-child {
    padding: 2rem 1.5rem;
    text-align: center;
    p {
      margin: 0 0 2rem;
      font-family: "casablanca-urw", sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      @include lg {
        font-size: 3rem;
      }
    }
    .btn-container {
      a {
        display: inline-block;
        width: 100%;
        max-width: 40rem;
        text-align: center;
      }
    }
  }
}

.cols-2 {
  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.cols-2-80 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  div:first-child {
    width: 20%;
  }
  div:last-child {
    width: 80%;
  }
}

.cols-3 {
  @include lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

//Accordéon

.accordion {
  > p {
    display: flex;
    padding: 1rem;
    font-weight: 600;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    width: 90%;
    margin: 0 auto 2rem;
    cursor: pointer;
    background-color: $lightgrey;
    transition: all .3s ease-in-out;
    svg {
      transition: all .3s ease-in-out;
    }
    &:hover, &.active {
      background-color: $text;
      color: $white;
      svg {
        stroke: $white;
      }
    }
    &.active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &-content {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    &.active {
      max-height: 100rem;
      padding: 1rem;
    }
    p {
      margin: 0;
    }
    .input-group {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      input[type="checkbox"] {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
  .btn-container {
    text-align: center;
    button {
      cursor: pointer;
    }
  }
}

.alert {
  text-align: center;
  p {
    background-color: #f8b0b0;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding: 1rem 5rem;
    display: inline-block;
    border-radius: 1rem;
  }
}

.Toastify__toast-body {
  div {
    font-size: 1.6rem;
    color: $text;
  }
}

.paypal-container {
  & > div {
    margin: 0 auto;
    max-width: 40rem;
  }
}

.m-0 {
    margin: 0!important;
}

.mw-400 {
    max-width: 40rem;
}

.bb_total {
    border-bottom: 2px solid $text;
    padding-bottom: 1.2rem;
}