form.form {
  .form-duo {
    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: baseline;
      gap: 1rem;
    }
  }
  .form-group {
    margin-bottom: 2rem;
    label {
      display: none;
    }
    input {
      width: 100%;
      padding: 1rem 1.5rem;
      border: 2px solid transparent;
      border-radius: 1rem;
      outline: none;
      background-color: $lightgrey;
      transition: all .3s ease-in-out;
      &:focus {
        border-color: $primary;
      }
    }
    input[placeholder] {
      color: $paragraph;
      font-weight: 500;
    }
  }
  textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    outline: none;
    background-color: $lightgrey;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
    resize: none;
    &:focus {
      border-color: $primary;
    }
  }
  textarea[placeholder] {
    color: $paragraph;
    font-weight: 500;
  }
 .btn-container {
   text-align: center;
   button {
     width: 100%;
     max-width: 40rem;
     @include lg {
       width: auto;
     }
   }
   @include lg {
     text-align: right;
   }
 }
}

// Page contact width formlaire

.contact {
  .form {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.login {
  p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    @include lg {
      font-size: 1.6rem;
    }
    a {
      color: $primary;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600;
      @include lg {
        font-size: 1.6rem;
      }
    }
  }
  .form {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    .link {
      text-align: center;
      @include lg {
        text-align: left;
      }
      & > a {
        color: $primary;
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 2rem;
        @include lg {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.signup {
  .form {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      @include lg {
        font-size: 1.6rem;
      }
      a {
        color: $primary;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        @include lg {
          font-size: 1.6rem;
        }
      }
    }
    .gender {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      gap: 2rem;
      justify-content: center;
      @include lg {
        justify-content: flex-start;
      }
      p {
        font-size: 1.8rem;
        font-weight: 600;
        @include lg {
          font-size: 2rem;
        }
      }
      .radio-group {
        display: flex;
        align-items: center;
        gap: .5rem;
        input {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}