.header-nav {
  padding-top: 3rem!important;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    //Lien du logo
    & > a {
      display: inline-block;
      width: 22rem;
      @include lg {
        width: 30rem;
      }
    }
    & > div {
      //Menu mobile
      display: flex;
      align-items: center;
      //Menu burger
      #nav-toggle {
        width: 4rem;
        height: 4rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include lg {
          display: none;
        }
        &::before {
          content: '';
          width: 100%;
          height: .5rem;
          background-color: $text;
          position: absolute;
          box-shadow: 0 12px 0 0 $text;
          transform: translateY(-12px);
          border-radius: 2rem;
          transition: all .3s ease-in-out;
        }
        &::after {
          content: '';
          width: 100%;
          height: .5rem;
          background-color: $text;
          position: absolute;
          transform: translateY(12px);
          border-radius: 2rem;
          transition: all .3s ease-in-out;
        }
        &.active::before {
          transform: translateY(0) rotate(45deg);
          box-shadow: 0 0 0 0 $text;
          background-color: $danger;
        }
        &.active::after {
          transform: translateY(0) rotate(-45deg);
          background-color: $danger;
        }
      }
    }
    form {
      display: none;
        @include lg {
            display: flex;
        }
      input {
        background-color: $lightgrey;
        width: 70%;
        padding: 1rem 2rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        font-size: 1.8rem;
        border: 2px solid transparent;
        outline: none;
        transition: all .3s ease-in-out;
        &:focus {
          border-color: $primary;
        }
      }
      button {
        padding: 1rem 1.5rem;
        background-color: $primary;
        border: 2px solid transparent;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: darken($primary, 15%);
        }
        &:active {
          background-color: darken($primary, 30%);
        }
      }
    }
    .navbar-btns-desktop {
      display: none;
      @include lg {
        display: flex;
        gap: 2rem;
      }
      a svg {
        transition: all .3s ease-in-out;
        &:hover {
          stroke: $primary;
        }
      }
    }
  }
  //Menu mobile
  .nav-mobile {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    transition: all .3s ease-in-out;
    @include lg {
      display: none;
    }
    &.active {
      left: 0;
    }
    ul  {
      list-style: none;
      padding-left: 0;
      text-align: center;
      width: 80%;
      li {
        padding-bottom: 2rem;
        margin: 2rem 0;
        border-bottom: 2px solid $grey;
        a {
          text-decoration: none;
          font-size: 1.8rem;
          color: $text;
          padding: 2rem;
          font-weight: 600;
          transition: all .3s ease-in-out;
          &:active, &:hover {
            color: $primary;
          }
        }
      }
    }
    .nav-btns {
      width: 80%;
      max-width: 40rem;
      margin-top: 2rem;
      a {
        display: block;
        margin-bottom: 1.5rem;
      }
    }
  }

//  Menu desktop
  .nav-desktop {
    display: none;
    @include lg {
      display: block;
    }
    margin-top: 4rem;
    text-align: center;
    ul {
      list-style: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      background-color: $lightgrey;
      padding: 1.5rem 3rem;
      border-radius: 1rem;
      li {
        position: relative;
        &::after {
          content: '|';
          color: $grey;
          position: absolute;
          right: -1.8rem;
          top: 0;
        }
        &:last-child {
          &::after {
            content: '';
          }
        }
        a {
          color: $text;
          text-decoration: none;
          font-size: 1.8rem;
          @include xl {
            font-size: 2rem;
          }
          font-weight: 600;
          transition: all .3s ease-in-out;
            &:hover, &.active {
                color: $primary;
            }
            &:active {
              color: darken($primary, 30%);
            }
        }
      }
    }
  }
}