// Importation des polices
@import url("https://use.typekit.net/haj4tqi.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'colors';
@import 'responsive';
@import 'typos';
@import 'utils';
@import 'commons';
@import 'header';
@import 'footer';
@import 'home';
@import 'productsList';

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $text;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 5rem 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 2rem;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section, .section {
  margin: 5rem 0;
}