// Importation des polices
@import url("https://use.typekit.net/haj4tqi.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'colors';
@import 'responsive';
@import 'typos';

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $text;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
}